 /* Basic styling for the form */
 #courseForm {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label,select {
    display: block;
    margin-bottom: 5px;
    font-size: medium;
}

input[type="text"],
input[type="url"],
input[type="number"],
textarea,select {
    width: calc(100% - 12px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

textarea,select {
    resize: vertical;
    /* Allow vertical resize */
}

button.inline-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.inline-btn:hover {
    background-color: #0056b3;
}

/* Style for required fields */
input:required,
textarea:required {
    border-color: #000000;
}

input:required:focus,
textarea:required:focus {
    border-color: #000000;
    box-shadow: 0 0 3px #141313;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

#courseAssignment {
    max-width: 600px;
    margin: 0 auto;
   
 }
 form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }

